body {
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    font-weight: normal;
    font-family: "PT Sans", "Arial", sans-serif;
}

h1 {
    font-size: 30px;
    line-height: 21px;
    color: #000000;
    font-weight: bold;
    font-family: "PT Sans", "Arial", sans-serif;
}

h2 {
    font-size: 21px;
    line-height: 21px;
    color: #000000;
    font-weight: bold;
    font-family: "PT Sans", "Arial", sans-serif;
}

ul {
    font-size: 0;
}

li {
    display: inline-block;
    width: 20%;
    vertical-align: top;
    font-size: 14px;
}

.image-logo {
    position: absolute;
    top: 0px;
    width: 138px;   
}

.main-header {
    background-color: antiquewhite;
    height: 56px;
}

.container {
   background-color: aquamarine; 
   width: 1200px;
   margin: 0 auto;   
}

.main-navigation {
    background-color: coral;
    height: 56px;
}

.first-screen {
    background-color: aqua;
    height: 508px;
}


.description {
    background-color: azure;
    padding-top: 1px;
    padding-bottom: 1px;    
}

.first-reason {
    height: 256px;    
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.first-reason-text {
    background-color: darkkhaki;
    float: left;
    width: 33.333%;
    height: 256px;
}

.first-reason-photo {
    background-color: darkturquoise;
    float: right;
    width: 66.666%;
    height: 256px;
}

.features {
    background-color: #61b58b;
}

.features-item {
    float: left;
    width: 33.333%;
}

.second-reason-photo {
    background-color: darkkhaki;
    float: left;
    width: 66.666%;
    height: 256px;
}

.second-reason-text {
    background-color: darkturquoise;
    float: right;
    width: 33.333%;
    height: 256px;
}

.interest {
    background-color: azure;
    padding-top: 1px;
    padding-bottom: 1px;    
}

.search-form {
    background-color: darksalmon;
    width: 568px;
    height: 482px;
    margin: 0 auto;   
}

label {
    width: 460px;
    margin: 0 auto;
}

.map {    
    height: 593px;   
}

.footer {
   height: 120px;     
}

.footer-hashtag {
    background-color: deepskyblue;
    float: left;
    width: 400px;
    height: 120px;    
}

.footer-social {
    background-color: darksalmon;
    float: left;
    width: 400px;
    height: 120px;    
}

.footer-copyright {
    background-color: darkgrey;
    float: right;
    width: 400px;
    font-size: 0;
    height: 120px;
}

.logo {
    display: inline-block;    
    vertical-align: top;
    font-size: 14px;
}

label {
    display: block;
    height: 40px;
}

input.btn {
    display: block;
    width: 458px;
    height: 58px;
    margin: 0 auto;
}

.adult-child {    
    float: left;
    width: 50%;
    height: 40px;    
}

.text-center {
    text-align: center;
}